* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
    color: white;
}

body {
    background-color: black;
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    background-color: #202020;
}